
  body {
    position: absolute;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(20, 20, 20);
    width: 100vw;
    color: white;
  }
  :root {
    overflow-x: hidden;
    /* line-height: 1.2; */
  }
  p {
    margin: 13px;
  }
  /* .main-header {
    background-color: rgba(20, 20, 20);
    position: fixed;
    width: 100vw;
    min-height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: white;
    z-index: 10;
  }
  .left-navbar {
    display: flex;
  }
  .right-navbar {
    margin-right: 30px;
    display: flex;
  } */
  /* .right-navbar a {
    display: flex;
    align-items: center;
    margin-right: 30px;
  } */
  /* .account-dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border: 1px solid rgb(20, 20, 20);
  } */
  /* .notifications-menu {
    margin-right: 30px;
  } */
  
  /* .App-link {
    color: #61dafb;
  } */
  /* .searchTab {
    background-color: rgb(20, 20, 20);
    border: none;
    display: flex;
    height: 32px;
    width: 52px;
  } */
  

  /* .logo-and-text img {
    position: relative;
    margin-left: 32.50px;
    margin-top: 1px;
    width: 466.56px;
    height: 186.63px;
  } */
  /* .logo-and-text .buttons {
    flex-direction: row;
    margin-right: 325px;
    margin-top: 25px;
  } */
  /* .logo-and-text button {
    background-color: rgba(54, 53, 53, 0.482);
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0);
    margin-left: 10px;
    height: 41.02px;
    width: 129.61px;
    width: 153.92px;
    border-radius: 5px;
    font-size: 20px;
  } */
  /* .headline {
    margin-left: 30px;
    margin-top: -40px;
  } */
  /* .headline p {
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: left;
  } */
  
  /* .hero {
    position: relative;
    margin-top: -700px;
    width: 100vw;
    height: 100%;
  } */
  
  /* .netfilx-sans {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    text-decoration: none;
  } */
  
  /* li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
  } */
  /* .logo_img {
    height: 10px;
    width: 40px;
  }   */
  /* .kids {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  } */

  
  /* .slider-item {
    margin: 2px;
    height: 122px;
    width: 216px;
    background-color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 24px;
  }
  .slider-item:hover {
    height:200px;
    width: 30%;
    animation-duration: 2s;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
  } */
  h2 {
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    color: #ddd;
    font-size: 20px;
  }
  
  /* .lander {
    padding-top: 62px;
    margin-left: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
    color: white;
  } */
  /* .lander h1 {
    margin-top: 80px;
    font-size: 53px;
    font-weight: normal;
  } */
  /* .lander-button {
    margin-top: -30px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
  } */
  /* .lander-button a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 218px;
    width: 150px;
    margin: 15px;
    color: rgba(128, 128, 128);
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
  }
  .lander-button a:hover {
    color: #fff;
  } */
  /* .image-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(128, 128, 128);
    background-color: rgba(20, 20, 20);
    height: 144px;
    width: 144px;
    margin-bottom: 20px;
  } */
  /* .image-profile:hover {
    border: 3px solid #fff;
  } */
  /* .lander button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 250px;
    border: 1px solid rgba(128, 128, 128);
    background-color: rgb(20, 20, 20);
    color: rgba(128, 128, 128);
    font-size: 18px
  } */
  /* .lander button:hover {
    color: #fff;
    border: 1px solid #fff;
  } */
  /* .netfilx-sans {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    text-decoration: none;
  } */
  /* .logo {
    height: 20px;
    width: 100px;
  } */
  /* .buttons button {
    font-size: 16px;
    font-weight: bold;
  } */
  /* .home-btn {
    margin: 50px;
    padding: 15px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
  } */

  

  



/*===================== */
/*   Media Queries */
/*===================== */



/* @media all and (max-width:320px){
  body{
    background-color:yellowgreen;
    width: 100vw;
  }
} */

/* @media all and (min-width:320px){
  body{
    background-color:rgb(20, 20, 20);
    width: 100vw;
  }
  .App {
    text-align: center;
  }
  .main-header {
    background-color: rgba(20, 20, 20);
    position: fixed;
    width: 100vw;
    min-height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: white;
    z-index: 10;
  }  
  .left-navbar {
    display: flex;
  }
  .right-navbar {
    margin-right: 0rem;
    display: flex;
  }
  .right-navbar a {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  .account-dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .notifications-menu {
    margin-right: 1rem;
  }
  .App-link {
    color: #61dafb;
  }
  .searchTab {
    background-color: rgb(20, 20, 20);
    display: flex;
    height: 3rem;
    width: 2rem;
  }
  .logo-and-text img {
    margin-left: 32.50px;
    margin-top: 1px;
    width: 466.56px;
    height: 186.63px;
  }
  .logo-and-text .buttons {
    flex-direction: row;
    margin-right: 325px;
    margin-top: 25px;
  }
  .logo-and-text button {
    background-color: rgba(54, 53, 53, 0.482);
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 0);
    margin-left: 10px;
    height: 41.02px;
    width: 129.61px;
    border-radius: 5px;
    font-size: 20px;
  }
  .hero {
    display: flex;
    width: 100vw;
  }
  p {
    display: none;
  }
  .headline {
    display: none;
  }

} */

/* @media all and (min-width:640px){
  body{
    background-color:deepskyblue;
    width: 100vw;
  }
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
